/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general  */

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
}

/* utility */

.debug {
  border: 1px solid black;
  background-color: rgba(143, 192, 159, 0.694);
}

/* button */

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #0062FE;
  color: #FFFFFF;
  padding: 8px 15px;
  font-size: .9rem;
  text-decoration: none;
}

.btn.big {
  padding: 12px 20px;
}

.btn:hover{
  background-color: #618CF7;
}

/* header */

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #FFFFFF;
  padding: 20px 15px;
}

header .logo {
  min-width: 125px;
}

.right, .left {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  padding: 0 30px;
}

header nav ul li a {
  text-decoration: none;
  color: #4C4C4C;
}

nav ul a.active:hover {
  padding-bottom: 27px;
  border-bottom: 3px solid #0062FE;
}


/* jumbotron */

.background {
  background-color: #B5CFE7;
  padding-top: 40px;
  height: 732px;
}

.jumbotron.container {
  margin-top: 130px;
}

.jumbotron h1 {
  font-size: 75px;
  font-weight: bold;
  padding-bottom: 60px;
}

.jumbotron .down {
  display: flex;
}

.jumbotron .content {
  width: 68%;
}

.jumbotron .content p {
  padding-bottom: 38px;
}

.jumbotron .content .btn {
  margin-bottom: 20px;
}
.jumbotron .content .btn a {
  color: #FFFFFF;
  text-decoration: none;
}

.jumbotron .content i {
  font-size: 45px;
}

/* footer */

footer {
  background-color: #000000;
  height: 565px;
  color: #FFFFFF;
  padding-top: 100px;
}

footer h4 {
  font-size: 23px;  
  margin-bottom: 45px;
}

.footer-top {
  display: flex;
}

.footer-top .col-menu {
  width: calc(100% / 5);
  padding-right: 20px;
  margin-bottom: 115px;
}

.col-menu ul {
  list-style: none;
}

.col-menu ul li {
  margin-bottom: 15px;
}

.col-menu ul li a {
  text-decoration: none;
  color: #D6D8DF;
}

.col-menu ul li a:hover {
  color: #c7c5c5;
}

.footer-bottom .line {
  width: 115px;
  height: 1px;
  background-color: #BFBEBF;
  margin-bottom: 45px;
}

.footer-bottom span, .footer-bottom i, .footer-bottom a i {
  margin-right: 5px; 
  color: #737475;
}


 