/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general  */

body {
  font-family: 'Lato', sans-serif;;
}

img {
  max-width: 100%;
}

p {
  color: #333938;
  line-height: 21px;
}

.line {
  height: 1px;
  background-color: #DCDBDF;
}

.container {
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
}

.container-section {
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
}

/* utility */

.debug {
  border: 1px solid black;
  background-color: rgba(143, 192, 159, 0.694);
}

.clearfix::after {
  content:'';
  display: table;
  clear: both;
}

/* button */

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #0062FE;
  color: #FFFFFF;
  padding: 8px 15px;
  font-size: .9rem;
  text-decoration: none;
  text-align: center;
}

.btn.big {
  padding: 12px 20px;
  min-width: 200px;
}

.btn.big a {
  color: #FFFFFF;
  text-decoration: none;
}

.btn:hover{
  background-color: #618CF7;
}

/* header */

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #FFFFFF;
  padding: 20px 15px;
}

header .logo {
  min-width: 125px;
}

.right, .left {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  padding: 0 20px;
}

header nav ul li {
  list-style: none;
  padding: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #4C4C4C;
}

nav ul a.active:hover {
  padding-bottom: 27px;
  border-bottom: 3px solid #598de1;
}


/* jumbotron */

.background {
  background-color: #B5CFE7;
  padding-top: 30px;
  height: 710px;
  margin-bottom: 150px;
}

.jumbotron.container {
  margin-top: 125px;
}

.jumbotron h1 {
  font-size: 75px;
  font-weight: 900;
  padding-bottom: 60px;
}

.jumbotron .down {
  display: flex;
}

.jumbotron .content {
  width: 96%;
}

.jumbotron .content p {
  padding-bottom: 30px;
}

.jumbotron .content .btn {
  margin-bottom: 20px;
}
.jumbotron .content .btn a {
  color: #FFFFFF;
  text-decoration: none;
}

.jumbotron .content i {
  font-size: 45px;
}

/* main */

main section h3 {
  font-size: 2.8rem;
  padding-bottom: 60px;
}

main section label {
  padding-right: 35px;
}

main section form {
  padding-bottom: 45px;
}

/* row */

main section .row .card ul li {
  list-style: none;
}

.row .card h4, .column h4, .middle h4 {
  font-size: 1.5rem;
  padding-bottom: 15px;
  padding-top: 20px;
}

.row .card h5, .column h5 {
  font-size: 1rem;
  padding: 20px 0;
}

.row .card .btn.big {
  margin: 30px 0;
}


.row .card .line {
  width: 40px;
  margin-top: 30px;
}

.row .card .prize {
  font-weight: bold;
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.row .card .month {
  color: #8E8C8D;
  padding-bottom: 40px;
}

.row .card .icons {
  color: #454040;
  padding: 10px 0;
}

.row .card i, .column i {
  color: #000000;
  margin-right: 5px;
}

.row .card .blue {
  color: #0062FE;
  font-weight: bold;
}

main section .row {
  display: flex;
}

.row .card {
  width: calc(100% / 3);
  min-width: 200px;
  padding: 12px;
  margin-bottom: 30px;
}

.row .card .border {
  border: 1px solid #DCDBDF;
  min-height: 918px;
}

.row .card .top {
  text-align: center;
  border-bottom: 1px solid #DCDBDF;
  padding: 10px 0px;
}

.row .card .bottom {
  padding: 10px 20px; 
}

/* column */

section .column {
  min-width: 600px;
  margin-bottom: 150px;
}
.column .top {
  text-align: center;
  border-bottom: 1px solid #DCDBDF;
  padding: 10px 0;
}

.column .bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20px
}

.column .border {
  border: 1px solid #DCDBDF;
  height: 280px;
}

.column p {
  padding-top: 20px;
}

.column .btn.big {
  margin-top: 20px;
  padding: 10px 5px;
  width: 240px;
}

/* middle */

main section .middle {
  padding-bottom: 165px;
}

.middle img {
  width: 550px;
  margin-right: 50px;
}

.middle .lft {
  float: left;
}

.middle .rgt {
 padding-top: 55px;
}

.middle .rgt p {
  padding-bottom: 33px;
}

.middle .rgt .btn.big {
  background-color: #FFFFFF;
  border: 1px solid #4C4C4C ;
}

.middle .rgt .btn.big a {
  color: #333938;
}

/* botton-up */

main section .button-up {
  padding-bottom: 150px;
}

main section .button-up h3 {
  font-size: 2.7rem;
  padding-bottom: 70px;
}

main section .button-up h4 {
  font-size: 1.5rem;
  padding-bottom: 50px;
}

main section .button-up a {
  color: #0062FE;
}

main section .button-up .row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 200px;
}

main section .button-up .card {
  width: calc(100% /3);
  padding: 0 20px;
}

/* cubes left */

main section .cubes.left {
  width: 635px;
  display: flex;
  flex-wrap: wrap;
  
}

.cubes.left img {
  width: 160px;
  color: #FFFFFF;
}


.cubes.left .cube {
  width: 315px;
  height: 315px;
  position: relative;
}

.cube.top-left {
  background-color: #A1D19A;
}

.cube.top-right {
  background-color: #60072B;
}

.cube.bottom-left {
  background-color: #0093CE;
}

.cube.bottom-right {
  background-color: #FF1B1E;
}

.cube.top-left img,
.cube.top-right img,
.cube.bottom-left img,
.cube.bottom-right img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* cubes center */



main section .cubes.center {
  background-color:  #F5F5F5;
  width: 635px;
  height: 635px;
  padding: 52px;
}

.cubes.center img {
  width: 270px;
  padding-bottom: 45px;
}

.cubes.center .line {
  width: 105px;
  margin-bottom: 45px;
}

.cubes.center p {
  font-size: 1.1rem;
  line-height: 22px;
}

.cubes.center .lead {
  padding-top: 55px;
}

/* cubes right */

/* footer */

footer {
  background-color: #000000;
  height: 565px;
  color: #FFFFFF;
  padding-top: 100px;
}

footer h4 {
  font-size: 23px;  
  margin-bottom: 45px;
}

.footer-top {
  display: flex;
}

.footer-top .col-menu {
  width: calc(100% / 5);
  padding-right: 20px;
  margin-bottom: 115px;
}

.col-menu ul {
  list-style: none;
}

.col-menu ul li {
  margin-bottom: 15px;
}

.col-menu ul li a {
  text-decoration: none;
  color: #D6D8DF;
}

.col-menu ul li a:hover {
  color: #c7c5c5;
}

.footer-bottom .line {
  width: 115px;
  height: 1px;
  background-color: #BFBEBF;
  margin-bottom: 45px;
}

.footer-bottom span, .footer-bottom i, .footer-bottom a i {
  margin-right: 5px; 
  color: #737475;
}


